.card {
  border: 1px solid #e35f5f;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: #141313;
}

.officer-dropdown {
  margin-top: 10px;
}

label {
  font-weight: bold;
}
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card-content p {
    margin: 8px 0;
    color: #666;
  }
  